@model PtthLesson07.Models.PtthSinhVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PtthSinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PtthHoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtthHoSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtthTenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtthTenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtthPhai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtthPhai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtthEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtthEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtthPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtthPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtthTrangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtthTrangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtthKhoa.PtthTenKh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtthKhoa.PtthTenKh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PtthMaSV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
