@model IEnumerable<PtthK22CNT4Lesson11.Models.PtthCategory>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Ptth2210900030Layout.cshtml";
}

<h2>Danh mục sản phẩm </h2>

<p class="my-2">
    @*@Html.ActionLink("Create New", "PtthCreate")*@
</p>
<a href="/PtthCategories/Create" class=" btn btn-primary ">Thên mới</a>
</br>
<table class="table table-bordered my-2">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PtthID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtthCateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtthStatus)
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PtthID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PtthCateName)
    </td>
    <td>
        @*Html.DisplayFor(modelItem => item.PtthStatus)*@
        @if (item.PtthStatus == true)
        {
            <span style="color: lightgreen">Hoạt động</span>
        }
        else
        {
            <span style="color: red">Hem hoạt động</span>
        }
    </td>
    <td>
        @Html.ActionLink("Edit", "PtthEdit", new { id = item.PtthID }) |
        @Html.ActionLink("Details", "PtthDetails", new { id = item.PtthID }) |
        @Html.ActionLink("Delete", "PtthDelete", new { id = item.PtthID })
    </td>
</tr>
}

</table>
