@model IEnumerable<PtthLesson07.Models.PtthKhoa>

@{
    ViewBag.Title = "PtthIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "PtthCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PtthTenKh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtthTrangthai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PtthTenKh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtthTrangthai)
        </td>
        <td>
            @Html.ActionLink("Edit", "PtthEdit", new { id=item.PtthMaKH }) |
            @Html.ActionLink("Details", "PtthDetails", new { id=item.PtthMaKH }) |
            @Html.ActionLink("Delete", "PtthDelete", new { id=item.PtthMaKH })
        </td>
    </tr>
}

</table>
