@model PtthLesson12.Models.Ptth_MaSach

@{
    ViewBag.Title = "PtthDetails";
    Layout = "~/Views/Shared/_PtthLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ptth_MaSach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ptth_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptth_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ptth_Sotrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptth_Sotrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ptth_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptth_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ptth_MaTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptth_MaTG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ptth_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptth_TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("PtthEdit", "PtthEdit", new { id = Model.Ptth_MaSach1 }) |
    @Html.ActionLink("Back to List", "PtthIndex")
</p>
