@model IEnumerable<lesson06.ptth.Models.PtthSong>

@{
    ViewBag.Title = "Ptth: Danh sách bài hát";
}

<h2>Ptth:Danh sách bài hát</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PtthTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtthAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtthArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtthYearRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PtthTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtthAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtthArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PtthYearRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
