@model IEnumerable<lesson06.ptth.Models.PtthCategory>

@{
    ViewBag.Title = "PtthIndex";
}

<h2>PtthIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PtthCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PtthCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PtthId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PtthId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PtthId })
        </td>
    </tr>
}

</table>
